*{ 
    background-color: rgb(243, 223, 112);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(53, 52, 52);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2{
   margin-left: 3%;
   text-align: center;
   color:dimgrey;
}

#button{
    box-sizing: border-box;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    font: 200;
    display: inline-block;
    align-items: center;
    padding: 10px;
    
}

#rock{
     color:rgb(49, 49, 49) ; 
    width: 30%;
    background-color:rgb(95, 162, 92); 
    border: 4px solid rgb(198, 196, 196); 
    height: 40vh;
    background-image: url(https://static.thenounproject.com/png/1470135-84.png);
    background-repeat: no-repeat;
    background-size:40vh;
 
}

#paper{
    width:30%; 
    background-color:rgb(201, 98, 98); 
    border: 4px solid rgb(198, 196, 196);
    height: 40vh;
    color:rgb(49, 49, 49);
    background-image: url(https://static.thenounproject.com/png/1401127-84.png);
    background-repeat: no-repeat;
    background-size:40vh;
    
}

#scissors{
    width:30%; 
    background-color:rgb(92, 143, 203); 
    border: 4px solid rgb(198, 196, 196);
    height: 40vh; 
    color:rgb(49, 49, 49);
    background-image: url(https://static.thenounproject.com/png/116501-84.png); 
    background-repeat: no-repeat;
    background-size: 40vh;
}
/*
#gamers{
    text-align:center;
    font: 1.5em 'Time New Roman';
    text-justify:auto;
}

#player{
    padding-left: 40px;
  color: dimgrey;
}

#computer{
    color: dimgrey;
} */